<html>
    <div class="title">
        <h1>Students</h1>
    </div>
    
    <div>
        <table id="tableSort" class="table-ms">
            <thead>
                <tr>
                    <th *ngFor="let head of headElements; let i = index" aria-controls="tableSort" scope="col" [mdbTableSort]="items" [sortBy]="itemElements[i]">{{head}}
                        <mdb-icon fas icon="sort"></mdb-icon>
                      </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="items !== undefined">
                    <tr class="selectable" (click)="onSelect(item)" *ngFor="let item of items">
                        <th *ngIf="item.index !== undefined">{{item.index}}</th>
                        <td *ngIf="item.mark !== undefined">{{item.mark}}</td>
                        <td *ngIf="item.group !== undefined">{{item.group}}</td>
                        <td *ngIf="item.lecturePoints !== undefined">{{item.lecturePoints}}</td>
                        <td *ngIf="item.homeworkPoints !== undefined">{{item.homeworkPoints}}</td>
                        <td *ngIf="item.allPoints !== undefined">{{item.allPoints}}</td>
                        <td *ngIf="item.presenceCounter !== undefined">{{item.presenceCounter}}</td>
                        <td *ngIf="item.absenceCounter !== undefined">{{item.absenceCounter}}</td>
                    </tr>
                </ng-container>
            </tbody>
            
        </table>
    </div>
    
    <div class="scroll">
        <i (click) = "goTop()" class="fa fa-arrow-circle-up"></i>
    </div>
</html>