<html>
    <div class="title">
        <h1>Student details</h1>
    </div>
    <div class="description">
        <h2>Student</h2>
    </div>
    <div>
        <table class="table-ms">
            <tr>
                <th>Index number</th> 
                <th>Group</th>
            </tr>
            <tr *ngIf="details !== undefined">
                <td *ngIf="details.index !== undefined">{{details.index}}</td>
                <td *ngIf="details.group !== undefined">{{details.group}}</td>
            </tr>
        </table>
    </div>

    <div class="description">
        <h2>Labs</h2>
    </div>

    <div>
        <table class="table-ms">
            <tr>
                <th>Date</th>
                <th>Presence</th>
                <th>Points</th>
            </tr>
            <ng-container *ngIf="details !== undefined && details.labs !== undefined">
                <tr *ngFor="let lab of details.labs">
                    <td>{{lab.dateOfLab}}</td>
                    <td *ngIf="lab.presence === true">present</td>
                    <td *ngIf="lab.presence !== true">absent</td>
                    <td>{{lab.points}}</td>
                </tr>
            </ng-container>
        </table>
    </div>
    
    <div>
        <button class="button-back" (click)="goBack()">Back</button>
    </div>
</html> 