/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}

.table-ms {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
}
  
table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #3F50B3;
    color: white;
    border: 1px solid #ddd;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}
    
table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table tr.selectable:hover {
    background-color: #85B3DB;
 }

.button-back {
    background-color: #3F50B3;
    border-radius: 5px; 
    border: 1px solid white;
    margin-top: 20px;
    padding: 10px 20px;
    width: 140px;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: medium;
    cursor: pointer;
    align-self: center;
}

button.button-back:hover {
    background-color: #253AB5;
}
  
.scroll {
    position: fixed;
    bottom: 30px;
    right: 40px;
    display: none;
}

button.btn-success:hover {
    background-color: #253AB5;
}

.fa-arrow-circle-up {
    font-size: 50px;
    color: #9DB4B4;
}

i.fa-arrow-circle-up:hover {
    color: #93A0A0;
}

.title {
    color: #7C7B78;
    text-align: center;
    margin-bottom: 30px;
}

.description {
    color: #908E8B;
    text-align: left;
    margin-top: 20px;
}